@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,400;1,700&family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Open+Sans:ital,wght@0,600;1,400;1,700&family=Play:wght@400;700&display=swap");
html, body {
  height: 100%;
  width: 100%;
}

body {
  font-size: 16px;
  font-family: "Play", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #292929;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

footer {
  position: relative;
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

.wrapper {
  position: relative;
  min-width: 0;
  min-height: 100%;
  overflow: hidden;
}

.container {
  position: relative;
  margin: 0 auto;
  width: auto;
  max-width: 940px;
}

.section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
}

.button {
  font-size: 1rem;
  text-transform: uppercase;
  display: inline-block;
  padding: 1.12rem 2.56rem;
  background: #E01F3D;
  color: #fff;
  border-radius: 100px;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.button:hover {
  background: #CA1B36;
}

.form__btn-reset:hover {
  background: none;
  color: red;
}

.fullscreeen-menu {
  display: none;
}

.hello-section {
  background-color: #F5F5F5;
  padding-bottom: 3.12rem;
}

.hello-section__container {
  background: url("../image/hello-section/headphones.png") right center/50% auto no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.hello-section__container:before {
  content: "";
  width: 2.87rem;
  height: 2.87rem;
  background: url("../image/element/Rectangle.png") no-repeat;
  position: absolute;
  right: 0;
  bottom: -5rem;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.12rem;
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
}
.menu__item {
  margin-right: 1.69rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  margin-right: 2.37rem;
}

.gamburger-menu {
  display: none;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__pic {
  width: 0.81rem;
  height: 0.81rem;
  margin-right: 0.37rem;
}

.contacts__phone {
  font-style: normal;
  font-size: 1.12rem;
}

/*===========================================================================================================*/
.hello-section__main {
  width: 35%;
}

.hello-section__title {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
}

.hello-section__caption {
  font-size: 1.31rem;
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1;
  margin-bottom: 2.25rem;
}

/*===============================================================================================*/
.specifications__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.specifications__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10.37rem;
  height: 3.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.5rem;
}
.specifications__item:last-child {
  margin-right: 0;
}

.specifications__img {
  margin-right: 0.69rem;
  width: 2.5rem;
  height: 2.5rem;
}

.specification__text {
  max-width: 6.25rem;
}

.features__hero {
  margin-bottom: 3.87rem;
}

.features__title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.43rem;
}

.features__subtitle {
  text-align: center;
  padding: 0 20%;
  font-weight: normal;
  color: #666;
  font-size: 1rem;
}

.content__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
.content__item:before {
  content: url("../image/features-section/Combined_shape.png");
  position: absolute;
  top: 3.75rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.content__item:last-child {
  padding-right: 0;
}
.content__item:last-child:before {
  display: none;
}
.content__item:first-child {
  padding-left: 0;
}

.content__img {
  margin-bottom: 0.56rem;
  width: 8rem;
  height: 8rem;
  display: inline-block;
  background-color: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.content__img-wrapper {
  width: 4.25rem;
  height: 4.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.content {
  text-align: center;
}

.content__title {
  margin-bottom: 0.43rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.content__desc {
  padding: 0 6%;
  font-size: 1rem;
  line-height: 1.2;
}

.shop {
  background: #F5F5F5;
}
.shop__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-box {
  position: relative;
  overflow: hidden;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: left 1s;
  transition: left 1s;
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
}

.shop__block {
  width: 28.25rem;
  height: 28.25rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 3.45rem;
}

.shop__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.shop__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 27rem;
}

.shop__title {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 1.3;
}

.hidden-specifications {
  position: relative;
  width: 5.68rem;
  height: 5.68rem;
  background: #9A9A9A;
  border-radius: 5px;
  border: none;
  margin-bottom: 1.56rem;
}

.hidden-specifications__svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 2.62rem;
  height: 2.62rem;
  fill: #fff;
}

.table {
  position: absolute;
  top: 0;
  left: 100%;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
          box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-radius: 4px;
  border-collapse: separate;
  border-spacing: 1.75rem;
  width: 17rem;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: -10;
}

.table__icon {
  width: 2rem;
  height: 2rem;
}

.hidden-specifications:hover .table {
  z-index: 10;
  opacity: 1;
}

.shop__heading,
.shop__desc {
  font-size: 1rem;
  color: #666;
}

.shop__desc {
  padding-right: 3.3rem;
  margin-bottom: 1.25rem;
  line-height: 1.2;
}

.shop__list,
.shop__buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop__list {
  margin-bottom: 1.5rem;
}

.shop__item {
  margin-right: 5.37rem;
}
.shop__item:last-child {
  margin-right: 0;
}

.shop__text {
  font-size: 1.12rem;
  font-weight: bold;
}

.shop__price {
  font-size: 2.25rem;
  margin-right: 1.37rem;
}

.prev-next__arrow {
  width: 0.87rem;
  height: 1.75rem;
  fill: none;
  cursor: pointer;
}

.prev-next {
  position: absolute;
  top: 46%;
  left: -5%;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2rem;
  z-index: 15;
}

.prev-next--position {
  margin-right: 0;
  margin-left: 2rem;
  left: 94%;
}

.team__title {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3.25rem;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-team-list {
  display: none;
}

.team__item {
  position: relative;
  width: 13.75rem;
  margin-right: 1.25rem;
  text-align: center;
}
.team__item:last-child {
  margin-right: 0;
}

.team__block {
  width: 13.75rem;
  height: 18.12rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.team__content {
  width: 100%;
  padding-top: 1.56rem;
}

.team__context {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__avatar {
  width: 100%;
  height: 100%;
}

.team__general {
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 22rem;
  left: 0;
  width: 100%;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.team__postion {
  font-size: 1rem;
  color: #292929;
  font-weight: normal;
}

.team__name {
  font-size: 1.12rem;
  font-weight: bold;
  margin-right: 4px;
  background: none;
  border: none;
}

.team__text {
  color: #666;
  font-size: 1rem;
  margin: 0 auto;
}

.triangle-popup {
  width: 0.56rem;
  height: 0.56rem;
  fill: #E01F3D;
}

.triangle-popup__inactive {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.triangle-popup__active {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.select {
  height: 6.26rem;
}

.feedback__user {
  position: relative;
  background: #F8FAF9;
  margin-bottom: 0.87rem;
  overflow: hidden;
  padding: 2.62rem;
}
.feedback__user:before {
  content: "";
  position: absolute;
  width: 5.18rem;
  height: 5.18rem;
  border-radius: 50%;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, -75%);
          transform: translate(-50%, -75%);
  background: #fff;
  margin-bottom: 1.25rem;
}

.feedback__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.feedback__active {
  opacity: 1;
  position: static;
}

.feedback__title {
  text-align: center;
  margin-bottom: 1.56rem;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.user-avatar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feedback__avatar {
  width: 100%;
  height: 100%;
}

.feedback__img {
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 15.81rem;
  height: 16.5rem;
  margin-right: 2.5rem;
}

.feedback__context {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.feedback__subtitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.feedback__text {
  color: #666666;
  width: 70%;
}

.feedback__name-user {
  font-size: 1.12rem;
  font-weight: bold;
}

.user-avatar__item {
  border-radius: 50%;
  width: 4.62rem;
  height: 4.62rem;
  margin-right: 0.37rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.user-avatar__item__item:last-child {
  margin-right: 0;
}

.user-avatar__photo {
  width: 100%;
  height: 100%;
}

.user-avatar__item--active {
  border: 5px solid red;
}

.form-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("../image/form-section/background_form.png") bottom center no-repeat #181818;
  color: #fff;
}

.form__title {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3.12rem;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.25rem;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.68rem;
}
.form__row:last-child {
  margin-bottom: 0;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.25rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__name-input {
  font-size: 1rem;
}

.form__input {
  width: 100%;
  height: 3.62rem;
  border-radius: 5px;
  border: solid 3px transparent;
  padding: 1.18rem 0.75rem;
}
.form__input:focus {
  border: 3px solid #E01F3D;
  outline: none;
}

.form__textarea {
  width: 100%;
  height: 9.5rem;
  resize: none;
  border-radius: 5px;
}
.form__textarea:focus {
  border: 3px solid #E01F3D;
  outline: none;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1.18rem;
}

.form--mb, .form__row--textarea {
  margin-bottom: 1.87rem;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 1rem;
}
.radio--checkbox .radio__visible {
  border-radius: 4px;
}
.radio--checkbox .radio__visible:before {
  background: url("../image/form-section/Vector.png") center center no-repeat;
}

.radio__el {
  display: none;
}
.radio__el:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  width: 1.62rem;
  height: 1.62rem;
  border-radius: 50%;
  background: #fff;
  position: relative;
  margin-right: 0.62rem;
}
.radio__visible:before {
  content: "";
  width: 0.87rem;
  height: 0.87rem;
  border-radius: 50%;
  background: #E01F3D;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__btn-reset {
  background: none;
  text-transform: none;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
}

.fixed-menu__item {
  margin-bottom: 0.62rem;
  position: relative;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}
.fixed-menu__item--active .fixed-menu__link:before {
  background: #E01F3D;
}

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  background: none;
  display: block;
}
.fixed-menu__link:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0.37rem;
  height: 0.37rem;
  border-radius: 50%;
  background: #292929;
}

.map {
  position: relative;
}
.map__block {
  width: 100%;
  height: 100%;
}
.map__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  position: absolute;
  bottom: 0;
  background: #fff;
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.25rem 0;
}

.footer__contacts {
  font-size: 1.12rem;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social__item {
  margin-right: 0.62rem;
}
.social__item:last-child {
  margin-right: 0;
}

.social__icon {
  width: 1.87rem;
  height: 1.87rem;
  fill: #B3B3B3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.social__icon:hover {
  fill: #000;
}

.screen-menu {
  display: none;
  position: relative;
  background: #313131;
}
.screen-menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
}
.screen-menu .menu .menu__list .menu__item {
  margin-right: 0;
}

.close {
  position: absolute;
  top: 2.62rem;
  right: 2.62rem;
  width: 1.25rem;
  height: 1.25rem;
  fill: #fff;
}

.menu__list {
  width: 100%;
  color: #fff;
  font-size: 2.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 2;
}

.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.message {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(13, 13, 13, 0.8);
  display: none;
}

.message__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 19.31rem;
  height: 11rem;
  margin: 0 auto;
  background: #fff;
}

.message__text {
  margin-bottom: 1.12rem;
  text-align: center;
}

.modal-js-visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .menu,
.contacts,
.fixed-menu,
.specifications__list,
.desctop-team-list {
    display: none;
  }

  .mobile-team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .container {
    width: 95%;
  }

  .hello-section__container {
    background-position: center top 32%;
    background-size: 45%;
  }

  .hello-section__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50%;
    width: 100%;
    padding: 0 1.4rem;
  }

  .hello-section__title {
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
    line-height: 0.9;
  }

  .hello-section__caption {
    display: block;
    max-width: 23.18rem;
    text-align: center;
    margin-bottom: 1.43rem;
  }

  .gamburger-menu {
    display: block;
    height: 1.62rem;
    width: 1.5rem;
  }

  .features__hero {
    margin-bottom: 3rem;
  }

  .content__item {
    padding: 0;
  }
  .content__item:before {
    display: none;
  }
  .content__item:nth-child(2) {
    -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
            flex: 1.5;
  }

  .content__img {
    margin-bottom: 0.9rem;
  }

  .content__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .features__title {
    margin-bottom: 0;
  }

  .features__subtitle {
    padding: 0 10%;
  }

  .content__desc {
    padding: 0;
  }

  .content__desc--narrow {
    padding: 0 2rem;
  }

  .slider-box {
    overflow: hidden;
  }

  .slider__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .shop__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 19.12rem;
    height: 19.12rem;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 0;
    margin-bottom: 3rem;
  }

  .shop__title {
    font-size: 1.75rem;
    margin-bottom: 0.87rem;
  }

  .hidden-specifications {
    display: none;
  }

  .shop__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }

  .shop__desc {
    text-align: center;
    padding: 0 3rem;
  }

  .shop__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .shop__price {
    font-size: 2.5rem;
  }

  .prev-next {
    top: 25%;
    left: 19%;
  }

  .prev-next--position {
    left: 75%;
  }

  .team__list {
    top: 60px;
    left: 119px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .team__item {
    margin-bottom: 1.56rem;
    margin-right: 0;
  }

  .team__content {
    padding: 0;
  }

  .team__name {
    font-size: 1.31rem;
  }

  .triangle-popup {
    fill: #365A49;
  }

  .team__general {
    position: relative;
    top: 0.43rem;
    left: 0;
  }

  .select {
    height: 25rem;
  }

  .feedback__user {
    margin-bottom: 3rem;
    padding-top: 3.5rem;
  }
  .feedback__user:before {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .feedback__item {
    top: 0;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .feedback__img {
    display: block;
    width: 8.12rem;
    height: 8.12rem;
    margin-bottom: 2rem;
    margin-right: 0;
  }

  .feedback__avatar {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .feedback__context {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .feedback__subtitle, .feedback__text {
    margin-bottom: 1rem;
  }

  .feedback__text {
    width: 100%;
    padding: 0 1.43rem;
    text-align: center;
  }

  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 8rem;
  }
  .form__title {
    margin-bottom: 1.12rem;
  }
  .form__col {
    margin-right: 0;
    margin-bottom: 0.9rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form__row {
    margin-bottom: 0.9rem;
  }
  .form__row:last-child {
    margin-bottom: 0;
  }

  .form__input {
    height: 2.25rem;
    padding: 0.2rem;
  }

  .form__row--textarea {
    margin-bottom: 1.5rem;
  }

  .form--mb {
    margin-bottom: 2.5rem;
  }

  .form__textarea {
    height: 5.12rem;
  }

  .form__button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .form__btn-reset {
    color: red;
    padding: 0 0.9rem;
  }

  .contacts--visible {
    display: block;
  }

  .footer.contacts {
    display: block;
  }

  .footer__address {
    font-size: 1.31rem;
  }

  .contacts {
    color: #E01F3D;
  }

  .contacts__phone {
    font-size: 18px;
  }

  .contacts__pic {
    width: 0.75rem;
    height: 0.75rem;
    fill: #E01F3D;
  }

  .social {
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
}
@media (max-width: 480px) {
  html {
    font-size: 3.34vmin;
  }

  .container {
    width: 95%;
  }

  .header__logo:after {
    position: absolute;
    top: 1.93rem;
    right: 0;
  }

  .hello-section__container {
    background-position: center top 25%;
    background-size: 70%;
  }

  .hello-section__title {
    font-size: 2rem;
    line-height: 1.1;
  }

  .hello-section__main {
    -webkit-transform: translate(0, 10%);
            transform: translate(0, 10%);
    padding: 0 14%;
  }

  .hello-section__caption {
    margin-bottom: 1rem;
  }

  .hello-section__btn {
    font-size: 1.18rem;
  }

  .team__item:first-child .team__content {
    padding-top: 0;
  }

  .team__title {
    font-size: 2rem;
    margin-bottom: 2.25rem;
  }

  .team__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .team__item {
    margin: 0;
    padding-top: 0.37rem;
  }
  .team__item:first-child {
    padding-top: 0;
  }

  .team__name {
    font-size: 1.31rem;
  }

  .team__context {
    margin-bottom: 0.81rem;
  }

  .team__block {
    margin-bottom: 1.12rem;
  }

  .team__postion {
    font-size: 1.12rem;
    font-weight: bold;
    margin-bottom: 0.81rem;
  }

  .triangle-popup {
    fill: #E01F3D;
  }

  .features__hero {
    width: 100%;
  }

  .features__title {
    font-size: 2rem;
  }

  .features__subtitle {
    width: 100%;
    padding: 0;
  }

  .content {
    text-align: left;
  }

  .content__img {
    margin-bottom: 0;
    margin-right: 0.75rem;
  }

  .content__list {
    display: block;
  }

  .content__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 0;
    margin-bottom: 1.9rem;
  }
  .content__item:last-child {
    margin-bottom: 0;
  }

  .content__text {
    width: 65%;
    padding-top: 0.6rem;
  }

  .content__title {
    margin-bottom: 0;
  }

  .content__desc {
    padding: 0;
  }

  .shop__block {
    margin-bottom: 1.62rem;
  }

  .shop__title {
    text-align: center;
    line-height: 1.1;
  }

  .shop__content {
    max-width: 412px;
  }

  .shop__desc {
    margin-bottom: 1.55rem;
    padding: 0;
  }

  .shop__text {
    font-size: 1.12rem;
  }

  .shop__price {
    font-size: 2rem;
  }

  .prev-next {
    top: 21.6%;
    left: 0.5%;
  }

  .prev-next--position {
    left: 89.5%;
  }

  .feedback__title {
    font-size: 2rem;
    margin-bottom: 1.26rem;
  }

  .feedback__user {
    padding-top: 3.5rem;
  }
  .feedback__user:before {
    display: none;
  }

  .feedback__img {
    margin-bottom: 1.5rem;
  }

  .feedback__subtitle {
    margin-bottom: 0.5rem;
  }

  .feedback__text {
    text-align: center;
    font-size: 1rem;
  }

  .user-avatar__item {
    width: 4rem;
    height: 4rem;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .user-avatar__photo {
    width: 100%;
    height: 100%;
  }

  .form {
    padding: 0;
  }
  .form__title {
    font-size: 2rem;
    margin-bottom: 2.22rem;
  }

  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .form__row--textarea {
    margin-bottom: 1.2rem;
  }

  .footer__block, .footer__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__contacts {
    margin-bottom: 1.18rem;
  }
  .footer__contacts .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #292929;
  }

  .footer__address {
    font-size: 1.18rem;
    margin-bottom: 0.75rem;
  }

  .contacts__pic {
    fill: #292929;
  }

  .contacts__phone {
    font-size: 1rem;
  }

  .social {
    -webkit-transform: none;
            transform: none;
  }
  .social__icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}