
.container{
  width: $adaptiveWidth;
}

//=========== hello-section =============
.header {
  &__logo:after {
    position: absolute;
    top: 1.93rem;
    right: 0;
  }
}
.hello-section__container{
  background-position: center top 25%;
  background-size: 70%;
}

.hello-section__title{
  font-size: 2rem;
  line-height: 1.1;
}

.hello-section__main{
  transform: translate(0, 10%);
  padding: 0 14%;
}

.hello-section__caption{
  margin-bottom: 1rem;
}

.hello-section__btn{
  font-size: 1.18rem;
}
//=========== features-section ===========
.features__hero{
  width: 100%;
}

.features__title{
  font-size: 2rem;
}

.features__subtitle{
  width: 100%;
  padding: 0;
}

.content{
  text-align: left;
}

.content__img{
  margin-bottom: 0;
  margin-right: .75rem;
}

.content__list{
  display: block;
}

.content__item{
  display: flex;
  width: 100%;
  padding: 0;
  margin-bottom: 1.9rem;
  &:last-child{
    margin-bottom: 0;
  }
}

.content__text{
  width: 65%;
  padding-top: 0.6rem;
}
.content__title{
  margin-bottom: 0;
}

.content__desc{
  padding: 0;
}

//=============== form ========================

.shop__block{
  margin-bottom: 1.62rem;
}

.shop__title{
  max-width: 69%;
  text-align: center;
  line-height: 1.1;
}

.shop__desc{
  max-width: 89%;
  margin-bottom: 1.55rem;
}

.shop__text{
  font-size: 1.12rem;
}

.shop__price{
  font-size: 2rem;
}

.slide{
  top: 21.6%;
  left: .5%;
}

.slide__box--position{
  left: 89.5%;
}


//============ feedback-section ==============

.feedback__title{
  font-size: 2rem;
  margin-bottom: 1.26rem;
}
.feedback__user{
  padding-top: 3.5rem;
  &:before{
    display: none;
  }
}

.feedback__img{
  margin-bottom: 1.2rem;
}

.user-avatar__img{
  max-width: 100%;
  width: 4rem;
  height: 4rem;
}

.feedback__subtitle{
  margin-bottom: 0.5rem;
}

.feedback__text{
  width: 80%;
  text-align: center;
  font-size: 1rem;
}


//============= form-section ===============

.form{
  padding: 0;
  &__title{
    font-size: 2rem;
    margin-bottom: 2.22rem;
  }
}

.form__controls{
  justify-content: center;
}

.form__row--textarea{
  margin-bottom: 1.2rem;
}

//============== footer =====================

.footer__block, .footer__contacts{
  flex-direction: column;
  align-items: center;
}

.footer__contacts{
  margin-bottom: 1.18rem;
  & .contacts{
    display: flex;
    justify-content: center;
    color: $title;
  }
}

.footer__address{
  font-size: 1.18rem;
  margin-bottom: .75rem;
}

.contacts__pic{
  fill: $title;
}
.contacts__phone{
  font-size: 1rem;
}
.social{
  transform: none;
  &__icon{
    width: 1.5rem;
    height: 1.5rem;
  }
}